body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: Open Sans;
    margin: 0;
    width: 100%;
    background-image: url(../Images/frontpage/frontpage-32.png);
    background-size:100% 100%;
}

header {
    width: 100%;   
    box-shadow: 3px 2px 5px #C0c0c0;
    z-index: 9;
    position: relative;
}

footer {
    clear: both;
    padding-bottom: 20px;
    font-size: 12px;
    color: #fff;
   }
   
   img{
   	max-width:100%;
   }
   
   
   p,li{
   	font-size: 14px;
   }


#Body {
    clear: both;
    padding: 0 3%;
    width: 94%;
    max-width: 1140px;
    min-height: 250px;
    margin: 30px auto;
    overflow: hidden;
    
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

.ColoresHeader{
	overflow: hidden;
}


.divHeaderMenu {
	overflow: hidden;
}

.divHeaderMenu > div{
	float:left
}

.divHeaderMenu .div1{
	width:152px;
	margin-top: 30px;
}

.divHeaderMenu .div2{
	max-width:760px;
	width:100%;
}

.divHeaderMenu .div3{
	width:228px;
}

.ulMenuHeader{
	overflow:hidden;	
    margin-top: 78px;
}

.ulMenuHeader > li{
	display:inline-block;	
}

.ulMenuHeader > li a{
	font-size: 18px;
    background-color: #e2061a;
    color: #fff;
    padding: 5px 24px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 14px;
    font-style:italic;
    text-decoration:none;
}

.ulMenuHeader > li a:hover{
	background-color:#0f63ad;
	text-decoration:none;
}

footer #divFooter .div1{
    width: 220px;
    margin: 30px 60px;
	
}

footer #divFooter .div2{
	
}

footer #divFooter .div3{
    width: 280px;
    margin: 10px 60px;
}

.Rojo{
	color:#e2061a;
}

.Azul{
	color:#0f63ad
}





